{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<div id="header"><div id="header-content">
    <h1 id="logo">It Takes Two to Django</h1>
</div></div>

<div id="content-wrap"><div id="content">
    <div id="sidebar">
        <div class="sidebox">
				<h1>Wise Words</h1>
			
				<p>&quot;In the end, we will remember not the words of our enemies, but the silence of our friends.&quot;</p>
                
                <p class="align-right">~ Martin Luther King Jr.</p>
				
				<p>&quot;Revenge is a Poison meant for others, which we end up swallowing ourselves.&quot;</p>
				
				<p class="align-right">~ Anonymous</p>
			</div>
    </div>
    
    <div id="main">
        <h1>{{ question.question_text }}</h1>
        
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
            <input class="button" type="submit" value="Respond" />
        </form>
    </div>
</div></div><!--end content-wrap-->

<div id="footer"><div id="footer-content">
    <div class="col float-left">
        <h2>Site Partners</h2>
			<ul>				
				<li><a href="https://c9.io/fadein/"><strong>fadein</strong> - Erik Falor</a></li>
				<li><a href="https://c9.io/vaibhavsahu/"><strong>vaibhavsahu</strong> - Vaibhav Sahu</a></li>
				<li><a href="https://c9.io/kamnayadav/"><strong>kamnayadav</strong> - Kamna Yadav</a></li>	
			</ul>
    </div>
    
    <div class="col2 float-right">
			<p>
			&copy; copyright 2017 <strong>BC Games</strong><br /> 
			Design by: <strong>Bryan Christensen</strong>&nbsp; &nbsp;
			<ul>						
				<li><a href="{% url 'polls:index' %}"><strong>Home</strong></a></li>
				<li><a href="{% url 'polls:index' %}"><strong>Sitemap</strong></a></li>							
			</ul>	
		</div>
</div></div><!--end footer-->